<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    {% include head.html %}
</head>

<body class="antialiased text-[#000000] min-h-screen flex flex-col overflow-x-hidden">
    <!-- Main Content -->
    <main class="relative z-10 w-full max-w-screen flex-grow">
        {{ content }}
    </main>

    <img class="block mt-auto mx-auto md:absolute md:bottom-0 md:left-1/2 md:-translate-x-1/2 h-[16rem] md:h-[24rem] brightness-[90%]" src="/assets/person.webp" alt="Osoba">

</body>

</html>