<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    {% include head.html %}
</head>

<body class="antialiased text-[#E1D7DC] min-h-screen bg-[#713374] flex flex-col overflow-x-hidden">
    <!-- Background Image -->
    <div class="absolute top-0 w-full h-full bg-[url('/assets/purple_blend.webp')] bg-cover bg-repeat-y bg-center">
    </div>
    
    <!-- Main Content -->
    <main class="relative z-10 w-full max-w-screen">
        {{ content }}
    </main>

    <footer class="mt-auto p-2 pb-4 text-xs md:text-sm mx-auto z-10">
        <p>Tento web vytvořil Kubík. Kvůli případným připomínkám mi <a href="https://chamik.eu/contact.cs/" class="emph">dej vědět</a>.</p>
    </footer>
</body>

</html>