@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'lora';
    background-image: url('/assets/bg.webp');
    background-size: cover;
    background-position: center;
}

html, body {
    font-family: 'lora';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    font-weight: 500;
}

.emph {
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.emph1 {
    font-weight: 700;

}
